body {
  width: 20rem;
  height: 17rem;
  background: white;
  color: black;
  margin-top: 80px;
}

#head { 
  overflow: hidden;
  position: fixed;
  left: 0;
  text-align: center;
  background-color: #EE4D2D;
  color: white;
  top: 0; 
  width: 100%;
}

.info { 
  padding: 10px; 
  background-color: orange;
  color: black;
  text-align: center;
}

.info:hover {
  background-color:  #EE4D2D;
  color: white;
}

img {
  width: 15%;
  height: auto;
  margin: 10px;
}